@font-face {
   font-family: "Roboto-Bold";
   src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
   font-family: "Roboto-Regular";
   src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
   font-family: "Roboto-Light";
   src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

body {
   width: 100%;
   height: 100vh;
   margin: 0;
   background-color: #1d2636;
}

h1 {
   color: white;
   font-size: 1.5em;
   margin: 0;
   text-align: center;
   font-family: "Roboto-Bold", arial;
}

h2 {
   color: red;
   font-size: 1em;
   font-family: "Roboto-Bold", arial;
}

nav {
   position: fixed;
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: #1d2636;
   z-index: 10;
}

.a_nav_bouton_redirection {
   padding: 0 15px 0 15px;
}

.icon_back {
   font-size: 1.5em !important;
   color: #6a2dd9;
}

.icon_home {
   font-size: 1.5em !important;
   color: #6a2dd9;
}

label {
   color: white;
   margin-top: 10%;
   margin-bottom: 20px;
   font-size: 1em;
   font-family: "Roboto-Bold", arial;
}

.div_all_newsite,
.div_all_modifsite,
.div_all_modiftech,
.div_all_newtech,
.div_all_newclient,
.div_all_newprojet,
.div_all_modifprojet,
.div_all_modifclient,
.div_all_newinterir {
   padding-top: 150px;
   padding-bottom: 300px;
}
/* newinter */
.div_all_newinter {
   display: flex;
   justify-content: center;
   padding-top: 180px;
   padding-bottom: 200px;
   flex-direction: column;
   align-items: center;
}

.a_button_ticket {
   height: 50px;
   width: 250px;
   margin: 40px;
}

.button_ticket {
   width: 100%;
   height: 55px;
   background-color: #6138d1;
   border-radius: 25px;
   opacity: 0.9;
   box-shadow: 0px 0px 20px 0px #ffffff;
   color: #ffffff;
   border: 2px solid white;
   font-size: 1em;
   font-family: "Roboto-Regular", arial;
}

/* */

form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

input,
#typologie,
#bailleur,
.select_newproj,
.select_newinterir {
   height: 60px;
   width: 70%;
   font-size: 1em;
   text-align: center;
   border-radius: 25px;
   border: 2px solid white;
   box-shadow: 0px 0px 8px 2px #6138d1;
   font-family: "Roboto-Regular", arial;
   padding: 0px 10px 0px 10px;
}

.select_nom {
   margin-bottom: 60px;
}

.input_button {
   font-size: 1.2em;
   padding: 15px;
   border-radius: 25px;
   margin-top: 75px;
   border: 2px solid #ffffff;
   background: #6138d1;
   color: #e2e2e2;
   box-shadow: 0px 0px 20px 0px #ffffff;
   width: 150px;
}

.a_nav_accueil {
   color: white;
   font-size: 1em;
}

.div_form_encart {
   background-color: red;
   padding: 50px;
}

img {
   width: 150px;
}

.p_site_number_newproj {
   font-size: 1em;
   color: white;
   margin: 0;
}

.checkbox_newinterir {
   box-shadow: none !important;
}

.textarea_com_newinterir {
   height: 150px;
   width: 70%;
   font-size: 1em;
   text-align: center;
   border-radius: 25px 25px 0px 25px;
   padding: 10px;
   font-family: "Roboto-Regular", arial;
}

.input_button_sendmail_ic {
   width: 250px;
   margin-top: 100px !important;
   margin-bottom: 100px !important;
}
.input_button_sendmail_i {
   width: 250px;
   margin-top: 0% !important;
}

.a_redirection {
   text-decoration: none;
   color: white;
}

@media screen and (min-width: 800px) {
   nav {
      position: fixed;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding-top: 25px;
      padding-bottom: 25px;
      background-color: #1d2636;
      z-index: 10;
      box-shadow: 0px 0px 6px 0px #6138d1;
   }

   h1 {
      color: white;
      font-size: 2em;
      margin: 0;
      text-align: center;
   }

   input,
   #typologie,
   #bailleur,
   .select_newproj,
   .select_newinterir {
      height: 70px;
      width: 400px;
      font-size: 1em;
      text-align: center;
      border-radius: 32px;
      border: 2px solid white;
      box-shadow: 0px 0px 8px 2px #6138d1;
   }

   label {
      color: white;
      margin-top: 75px;
      margin-bottom: 25px;
      font-size: 1em;
      font-family: "Roboto-Bold", arial;
   }

   .a_button_ticket {
      height: 70px;
      width: 400px;
      margin: 60px;
      cursor: pointer;
   }

   .input_button {
      cursor: pointer;
   }

   .input_button:hover {
      scale: 1.05;
   }
}
